.button {
    background-color: var(--black);
    font-family: var(--primary-font);
    color: var(--primary);
    padding: 10px 16px;
    border-radius: 12px;
    font-size: 1rem;
    text-transform: none;
    cursor: pointer;
}

