* {
    font-family: var(--primary);
}
.faqTitle {
    color: var(--white);
    text-align: center;

}

.faqContainer {
    width: 80vw;
    margin: auto;
    height: max-content;
}
.divider {
    margin-top: 2rem;
    border: 2px solid rgb(53, 52, 52);
    filter: drop-shadow(0px 4px 5px #ffffff);
}

.accordion1 {
    background-color: var(--black);
    border: 1px solid var(--white);
    border-radius: 10px 10px 5px 5px;
    color: var(--white);
    margin-top: 1rem;
}
.accordion2 {
    background-color: var(--black);
    border: 1px solid var(--white);
    border-radius: 5px 5px 10px 10px;
    color: var(--white);
    margin-top: 1rem;
}
