.hero{
    background-color: var(--black);
    display: flex;
    align-items: center;   
    justify-content: center;

}

.heroText{
    color: var(--white);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroText > h2 {
    margin: 0;
}