.hero{
    background-color: var(--black);
    display: flex;
    align-items: center;   
    justify-content: center;
    padding: 1rem;
}

.heroText{
    color: var(--white);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroText > h1 {
    margin: 0;
}

@media screen and (max-width:850px) {
    .hero{
        background-color: var(--black);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;   
        justify-content: center;
        padding: 1rem;
    }
    .heroText{
        color: var(--white);
        font-family: var(--primary-font);
       text-align: center;
    }
    
    .heroText > h1 {
        margin: 0;
    }
    
}