.buttons{
  color: var(--white);
  font-family: var(--primary-font);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  height: max-content;
  margin-top: 2rem;
  padding: 2%;
}

.desc {
  display: flex;
  align-items: center;
}
.controls {
  margin: auto;
  text-align: center;
}
.names {
  color: var(--white);
  font-family: var(--primary-font);
  padding: 5px;
}

.progressBar {
    display: flex;
    align-items: center;
}
  
@media screen and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    height: max-content;
    margin-top: 2rem;
    padding: 2%;
  }

  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .names {
    color: var(--white);
    font-family: var(--primary-font);
    padding: 5px;
    text-align: center;
  }
}
